*{
    margin:0;
    padding:0;
}
main{
    color: white;
    height: 100vh;
    width: 100vw;
    background-image: url(./julia-zolotova-M_xIaxQE3Ms-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    margin-block: 2%;
    padding: 2%;
    width: 600px;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.300);
    backdrop-filter: blur(20px);
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pricing-form{
    flex-direction:row;
    justify-content: start;
}
.flex-container>form{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}
input{
    border: 0;
    border-radius: 14px;
    margin-block: 1%;
    padding: 1%;
    width: 100%;
}
#submitBtn:hover{
    color: white;
    background-color: grey;
}